* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   background: linear-gradient(135deg, #f0f8ff 0%, #e6f7ff 100%);
   overflow-x: hidden;
  
}

button,
a,
input,
select,
textarea {
  max-width: 100%;
}
